<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <!-- For Debugging
      <link rel="stylesheet/less" type="text/css" href="styles.less" />
      <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
    -->

    <link rel="stylesheet" href="src/styles.css">
    
</head>
<body>
    <div id="timeline-content">
        <h1>{{ title }}</h1>

        <ul class="timeline">
          {% for item in items %}
          <li class="event" data-date="{{ item.date }}">
            <h3>{{ item.name }}</h3>
          </li>
          {% endfor %}
        </ul>
      </div>
</body>
</html>